<?xml version="1.0" encoding="UTF-8"?>
<included>
    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){blue} %clr(%-5level) %clr([${SERVICE_NAME}]){cyan} %clr([%thread]){faint} %clr(%logger{36}){magenta} - %msg %clr(%replace([traceId=%X{traceId}]){'\[traceId=\]', ''}){yellow}%clr(%replace([clientIp=%X{clientIp}]){'\[clientIp=\]', ''}){green}%clr(%replace([userAgent=%X{userAgent}]){'\[userAgent=\]', ''}){green}%clr(%replace([userId=%X{userId}]){'\[userId=\]', ''}){cyan}%clr(%replace([role=%X{userRole}]){'\[role=\]', ''}){cyan}%n"/>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

<!--    &lt;!&ndash; JSON File &ndash;&gt;-->
<!--    <appender name="JSON_FILE"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->

<!--        <file>${LOG_BASE_DIR}/${SERVICE_NAME}/${SERVICE_NAME}.json</file>-->

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_BASE_DIR}/${SERVICE_NAME}/logs/${SERVICE_NAME}.%d{yyyy-MM-dd}.json</fileNamePattern>-->
<!--            <maxHistory>14</maxHistory>-->
<!--            <totalSizeCap>10GB</totalSizeCap>-->
<!--        </rollingPolicy>-->

<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <includeContext>true</includeContext>-->
<!--            <includeMdc>true</includeMdc>-->
<!--            <includeStructuredArguments>true</includeStructuredArguments>-->
<!--            <customFields>{"service":"nova-gateway-server"}</customFields>-->
<!--            <timeZone>UTC</timeZone>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Async &ndash;&gt;-->
<!--    <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        <queueSize>8192</queueSize>-->
<!--        <neverBlock>true</neverBlock>-->
<!--        <appender-ref ref="JSON_FILE"/>-->
<!--    </appender>-->

</included>
