<?xml version="1.0" encoding="UTF-8"?>
<included>
    <logger name="com.netflix.discovery" level="WARN"/>
    <logger name="com.netflix.eureka" level="WARN"/>
    <logger name="org.springframework.cloud.netflix.eureka" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</included>
