spring:
  application:
    name: nova-auth-service
    group: service
  config: # spring boot 2.4부터는 bootstrap.yml파일이 필요 없고 아래 설정을 해준다
    # optional : optional이 붙어있으면 config server에서 응답을 받지 못해도 client애플리케이션은 구동된다
    # optinal:configserver: 까지만 적으면 default로 localhost:8888을 지정한다
    # https://godekdls.github.io/Spring%20Cloud%20Config/spring-cloud-config-client/
    #    import: optional:configserver:http://localhost:8888
    import: optional:configserver:http://${CONFIG_SERVER_HOST_NAME:localhost}:${CONFIG_SERVER_PORT:8888}
