server:
  port: 8888
  shutdown: graceful

spring:
  config:
    activate:
      on-profile: docker

  cloud:
    config:
      server:
        git:
          uri: https://github.com/${nova.git.user.name}/${nova.git.repository-name}.git
          username: ${nova.git.user.name}
          password: ${nova.git.user.password}
          search-paths: nova-discovery-server, nova-gateway-server, nova-auth-service, nova-system-service, nova-notification-service
          default-label: main
          skip-ssl-validation: true
          ignore-local-ssh-settings: true
    bus:
      enabled: true
      refresh:
        enabled: true
      env:
        enabled: true
  kafka:
    bootstrap-servers: ${nova.kafka.host:nova-kafka}:${nova.kafka.port:9092}

eureka:
  client:
    enabled: true
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${nova.discovery.protocol:http}://${nova.discovery.user.name}:${nova.discovery.user.password}@${nova.discovery.host:nova-discovery-server}:${nova.discovery.port:8761}/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

management:
  endpoints:
    web:
      exposure:
        include: busrefresh,refresh,httptrace,shutdown,health,prometheus,metrics
      base-path: /nova/management
  endpoint:
    refresh:
      access: unrestricted
    metrics:
      access: unrestricted
    prometheus:
      access: unrestricted

# 8. Project Nova 변수 계층 (실제 데이터 관리)
nova:
  # 1. Git 설정
  git:
    repository-name: nova-api-config
    user:
      name: ${GITHUB_USERNAME}
      password: ${GITHUB_TOKEN}

  # 2. Discovery Server(Eureka) 설정
  discovery:
    protocol: ${DISCOVERY_SERVER_PROTOCOL:http}
    host: ${DISCOVERY_SERVER_HOST:nova-discovery-server}
    port: ${DISCOVERY_SERVER_PORT:8761}
    user:
      name: ${DISCOVERY_ADMIN_NAME:admin}
      password: ${DISCOVERY_ADMIN_PASSWORD:admin}

  #3. Kafka 설정
  kafka:
    host: ${KAFKA_SERVER_HOST:nova-kafka}
    port: ${KAFKA_SERVER_PORT:9092}
