server:
  port: 8888
  shutdown: graceful
spring:
  config:
    activate:
      on-profile: local
  cloud:
    config:
      server:
        git:
          uri: https://github.com/${GITHUB_USERNAME}/nova-api-config.git
          username: ${GITHUB_USERNAME}
          password: ${GITHUB_TOKEN}
          search-paths: nova-discovery-server, nova-gateway-server, nova-auth-service, nova-system-service, nova-notification-service
          default-label: main
          skip-ssl-validation: true
          ignore-local-ssh-settings: true
    bus:
      enabled: true
      refresh:
        enabled: true
      env:
        enabled: true
  kafka:
    bootstrap-servers: ${KAFKA_SERVER_HOST_NAME:127.0.0.1}:${KAFKA_SERVER_PORT:9092}

eureka:
  client:
    enabled: true
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://admin:admin@localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

management:
  endpoints:
    web:
      exposure:
        include: busrefresh,refresh,httptrace,shutdown,health,prometheus,metrics
      base-path: /nova/management
  endpoint:
    refresh:
      access: unrestricted
    metrics:
      access: unrestricted
    prometheus:
      access: unrestricted