<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- infra는 조용해야 한다 -->
    <logger name="com.nova" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.cloud" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.hibernate" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</included>
