<?xml version="1.0" encoding="UTF-8"?>
<included>

    <logger name="com.nova" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.cloud" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

</included>
